* {
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* main */
#root {
  display: flex;
  min-height: 105vh;
  flex-direction: column;
  justify-content: space-between;
}

h2,
li {
  font-size: 0.9rem !important;
}

footer {
  min-height: 60px;
}

label {
  font-size: 0.8rem !important;
  font-weight: normal !important;
  color: white !important;
}

/*utils*/
.gap-1 {
  gap: 2em;
}

.gap-2 {
  gap: 0.3em;
}

.is-rounded {
  border-radius: 5px;
}

.is-centered {
  margin: 0 auto;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.has-dark-bg {
  background-color: #30323d;
  border-radius: 12px;
  margin-left: 1.3em;
  height: fit-content !important;
}

.highlight {
  border-radius: 100vmax !important;
  outline-offset: 4px;
  text-align: center;
  width: 60px !important;
}
.is-bought {
  outline: 3px solid green !important;
}

.is-sold {
  outline: 3px solid red !important;
}
.is-create {
  outline: 3px solid rgb(39, 39, 248) !important;
}

/* styles */
.main {
  min-height: 90vh;
}
.App {
  background-color: #1a1a1a;
}

.link {
  color: white;
}

footer {
  background-color: #455561;
}
.preview-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-inline: auto;
}
.card {
  position: relative;
}
.card-image {
  background-color: #455561;
}

.form {
  padding-inline: 3em;
  overflow: hidden;
}

.is-centered img {
  cursor: pointer;
}

.error {
  position: absolute;
  top: 58%;
  text-align: right;
  font-size: 1rem;
  color: orangered;
  font-weight: 500;
  background-color: #1a1a1a;
  width: 100%;
}
