* {
  font-family: "Open Sans", sans-serif;
}

#root {
  display: flex;
  min-height: 105vh;
  flex-direction: column;
  justify-content: space-between;
}
h1 {
  text-align: center;
}
h2,
li {
  font-size: 0.9rem !important;
}
h3 {
  font-size: 1.2rem !important;
}
.main {
  min-height: 85vh;
}

footer {
  min-height: 60px;
}
li {
  cursor: pointer;
}

.preview-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-inline: auto;
}

.gap-1 {
  gap: 2em;
}

.form {
  padding-inline: 3em;
  overflow: hidden;
}
.is-one-thirds {
  margin-top: -2.5rem;
}

.is-centered {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.is-centered img {
  cursor: pointer;
}

label {
  font-size: 0.8rem !important;
  font-weight: normal !important;
}
